{% extends "BrandAnalysisApp/Base.html" %}
{% load static %}
{% block head %}
	<title> Contact Us | Stalk Market | Image Analysis</title>
    <link rel="stylesheet" href="{% static 'css/contactus.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
{% endblock %}
{% block content %}
<div class="container">
	<div class="header_contact" >
		<h1>Contact Us</h1>
		<p>Contact us for a custom Quote</p>
	</div>
    <br/>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show">
                <h2></h2><strong>Success!</strong> {{message}}</h2>
            </div>
        {% endfor %}
    {% endif %}
    <div class="column">
        <form method="post">
            {% csrf_token %}
            <label for="fname">Full Name</label>
            <input type="text" name="fullname" id="fname" name="firstname" maxlength="200" placeholder="Your fullname" required>
            <label>Work Email</label>
            <input type="email" name="email" id="wemail" name="wemail" required placeholder="Your email">
            <label for="country">Country</label>
            <select id="country" name="country">
                <option value="australia">France</option>
                <option value="canada">UK</option>
                <option value="usa">Spain</option>
            </select>

            <label for="subject">Additional Details</label>
            <textarea id="subject" name="details" placeholder="Write something.." maxlength="2000" style="height:170px"></textarea>
            <input type="submit" value="Inquire">
        </form>
    </div>
    <div class="row">
        <div class="column">
            <div class="col-md-6 reason-content">
                <h2>For general inquiries</h2>
                <p>Send us an email at</p>
                <a href="#">contact.stalkmarket@gmail.com</a>
                <br>
                <br>
                <p style="margin:0;">Hours of Operation</p>
                <p>Monday to Friday: 8:00am - 6:00pm GMT+2</p>
                <br>

                <div class="map">
            	    <!-- Google Map API Script here -->
            	    <img src="{% static 'assets/google-maps-api.jpg' %}" alt="Nature" class="map">
                </div>

                <h2>For StalkMarket Support</h2>
                Stalk Market customers, <a href="login">LOG IN</a> to talk to our team
                <br>
                <a href="#"><img alt="Stalk Market" title="Stalk Market | Image Analysis" src="{% static 'assets/logo.png' %}" width="300"></a>
            </div>
        </div>
        </div>
</div>
<footer>
    <p class="copyright">Copyright ©️ Stalk Market 2020</p>
</footer>
{% endblock %}