{% extends "BrandAnalysisApp/Base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/StyleSheet/stylesheet.css">
	<link rel="stylesheet" href="{% static 'css/editchanel.css' %}">
	<link rel="stylesheet" href="{% static 'css/header.css' %}">
{% endblock %}
{% block title %} Report| Stalk Market | Image analysis for Brand Marketing {% endblock %}
{% block content %}
<div class="d-flex flex-row" style="background-color:#d4d4d4; height:70px;">
	<img class="imgheader" src="{% static 'assets/logo.png' %}">
</div>
{% if not messages %}
	<br/>
{% endif %}
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-success alert-dismissible fade show">
				<strong>Success!</strong> {{message}}
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
		{% endfor %}
	{% endif %}
	<div class="container" >
		<div class="row pt-4 pl-3 bg-light header" >
			<h2>Edit Chanel</h2>
		</div>
		<!-- form -->
		<form class="needs-validation" novalidate method="post">
			{% csrf_token %}
		<div class="row  bg-light" >
			<div class="col-md-6">
				<div class="form-group row">
					<label class="col-sm-4 col-form-label" id="validationCustom01" value="Mark" required>Company Name</label>
					<div class="col-sm-11">
						<input type="Name" name="uname" class="form-control" id="inputEmail3" placeholder="Full Name" value="{{ user.uname }}" required>
						<div class="valid-feedback">Looks good!</div>
					</div>
				</div>
					
				<div class="form-group row">
				    <label class="col-sm-3 col-form-label">Start Date</label>
				    <div class="col-sm-11">
				      <input type="Date" class="form-control" id="inputEmail3" value="{{ user.ustartdate |date:'Y-m-d' }}" readonly>
				    </div>
				</div>

				<div class="form-group row">
				    <label class="col-sm-4 col-form-label">Supervisor Email</label>
				    <div class="col-sm-11">
						<input type="email" name="usemail" class="form-control" id="inputEmail3" placeholder="Supervisor Email" value="{{ user.usemail }}" required="">
						<div class="invalid-feedback">plese provide valid email (eg. john@gmail.com) </div>
				    </div>
				</div>

				<div class="form-group row">
				    <label  class="col-sm-2 col-form-label">Supervisor</label>
				    <div class="col-sm-11">
						<input class="form-control" name="usname" id="inputEmail3" placeholder="Supervisor Name" value="{{ user.usname }}" required="">
				    </div>
				</div>
			</div>

			<div class="col-md-6">
				
				<div class="form-group row">
				    <label class="col-sm-4 col-form-label">Stalk Market ID</label>
				    <div class="col-sm-11">
						<input type="ID" class="form-control" id="inputEmail3" placeholder="Stalk Market ID" value="SM - {{ user.id }}" readonly>
				    </div>
				</div>
					
				<div class="form-group row">
					<label class="col-sm-3 col-form-label">Status</label>
				    <div class="col-sm-11">
					    <select class="custom-select" name="uactivated">
							  <option selected>Select Status</option>
							  <option value="True" {% if user.uactivated == True %}selected="selected"{% endif %}>Active</option>
							  <option value="False" {% if user.uactivated == False %}selected="selected"{% endif %}>Inactive</option>
						</select>
				    </div>
				</div>

				<div class="form-group row">
				    <label class="col-sm-2 col-form-label mask">Phone</label>
				    <div class="col-sm-11">
						<input type="tel" name="unumber" class="form-control" id="inputEmail3" pattern="[+][0-9]{1,3}[0-9]{10}" placeholder="+9770000000000" value="{{ user.unumber }}" required="">
						<div class="invalid-feedback">please provide valid phone number (eg. +9770000000000 ) </div>
				    </div>
				</div>

				<div class="form-group row">
				    <label  class="col-sm-4 col-form-label">Report Frequency</label>
				    <div class="col-sm-11">
					    <select class="custom-select" name="ureportfrequency">
							  <option selected>Select Status</option>
							  <option value="1" {% if user.ureportfrequency == '1' %}selected="selected"{% endif %}>Weekly</option>
							  <option value="2" {% if user.ureportfrequency == '2' %}selected="selected"{% endif %}>Twice in a Month</option>
							  <option value="3" {% if user.ureportfrequency == '3' %}selected="selected"{% endif %}>Monthly</option>
						</select>
				    </div>
				</div>
			</div>
		</div>

		<div class="row p-4 bg-light">
			<div class="col d-flex justify-content-end">
				<input type="submit" class="btn btn-primary mr-2 " type="submit" value="Submit">
				<input type="reset" class="btn btn-primary" value="Reset" onclick="location.reload()">
			</div>
		</div>
		</form>
	</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<!-- JavaScript for disabling form submissions if there are invalid fields -->
    <script>
	(function() {
	  'use strict';
	  window.addEventListener('load', function() {
	    // Fetch all the forms we want to apply custom Bootstrap validation styles to
	    var forms = document.getElementsByClassName('needs-validation');
	    // Loop over them and prevent submission
	    var validation = Array.prototype.filter.call(forms, function(form) {
	      form.addEventListener('submit', function(event) {
	        if (form.checkValidity() === false) {
	          event.preventDefault();
	          event.stopPropagation();
	        }
	        form.classList.add('was-validated');
	      }, false);
	    });
	  }, false);
	})();
	</script>
{% endblock %}