{% extends "BrandAnalysisApp/Base.html" %}
{% load static %}
{% block head %} <link rel="stylesheet" href="{% static 'css/signin.css' %}"> {% endblock %}
{% block title %} SignIn Page {% endblock %}
{% block content %}
{% if error %}<p><strong>{{ error }}</strong></p>{% endif %}

<div class="login-page">
    <div class="form">
        <h2> Forgot Password </h2>
        <form class="login-form" action="" method="post">
            {% csrf_token %}
            <input type="text" placeholder="email id" name="uemail" required/>
            <button>Submit</button>
        </form>
    </div>
</div>

{% endblock %}