{% extends "BrandAnalysisApp/Base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
{% endblock %}
{% block title %} Stalk Market {% endblock %}
{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show">
            <strong>Success!</strong> {{message}}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    {% endfor %}
{% endif %}

<div class="login-page">
    <div class="form">
        <h2> Forgot Password </h2>
        <form class="login-form" action="" method="post">
            {% csrf_token %}
            <input type="text" placeholder="email id" name="uemail" required/>
            <button>Submit</button>
        </form>
    </div>
</div>

{% endblock %}