{% extends "BrandAnalysisApp/Base.html" %}
{% load static %}
{% block head %} <link rel="stylesheet" href="{% static 'css/signin.css' %}"> {% endblock %}
{% block title %} SignIn Page {% endblock %}
{% block content %}
{% if error %}<p><strong>{{ error }}</strong></p>{% endif %}

<div class="login-page">
    <div class="form">
        <h1> Register </h1>
        <form class="register-form" method="post">
            {% csrf_token %}
            <input type="text" placeholder="Company name" name="uname" required/>
            <input type="text" placeholder="email address" name="uemail" required/>
            <input type="password" placeholder="password" name="upassword" required/>
            <input type="password" placeholder="Re-enter password" name="urpassword" required/>
            <button>create</button>
            <p class="message">Already registered? <a href="login">Sign In</a></p>
        </form>
    </div>
</div>

{% endblock %}